@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// ### Font
$font-primary: 'Archivo Narrow', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$FontWeights300: 300;
$FontWeights400: 400;
$FontWeights500: 400;
$FontWeights600: 600;
$FontWeights700: 700;
$FontWeights800: 800;
$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;
